body {
    font-family: Tahoma, serif;
    font-size: 12px
}
div.mombomenu {
    width: 70px;
    border: solid 1px #000;
    height: 90px;
    overflow: auto;
    position:absolute;
    background-color: #fff;
}
div.mombomenu .item {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 1px;
}
div.mombomenu .item.selected {
    color: #fff;
    background-color: #007;
}
div.mombomenu .item.match {
    font-weight: bold;
}
div.mombobutton {
    border: solid 1px #ccc;
    background-color: #eee;
    width: 16px;
    height: 17px;
    float:left;
    text-align: center;
    border-left: none
}
